/* @font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato-Bold.otf) format("opentype");
} */
